
.App {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-bar {
  width: 100%;
  display: flex;
}

.connect-box {
  position: absolute;
  top: 15px;
  right: 50px;
  /* display: none; */
}

.connect-btn {
}

.wallet-address {
  color: white;
  font-family: Inter;
}

.title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-text {

  margin: 0;
  margin-left: 15px;
  padding: 15px 0;
  vertical-align: middle;
  font-family: var(--font-logo);
  
  font-weight: 400;
  color: white;
}

.left-box, .right-box {
  height: 80vh;
  padding: 25px 20px;

  background-color: rgb(0, 21, 32);
  border-radius: 25px;
  box-shadow: 12px 12px 1px black;

  display: flex;
  justify-content: space-between;
}

.left-box {
  width: 55%;
}
.right-box {
  width: 30%;
  word-break: break-all;
}

.left-input-box, .right-input-box {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel {
  margin: 0 auto;
  width: 95%;
  /* height: 22%; */
  /* background-color: rgb(255, 15, 22); */
}

.two-btn-box {
  display: flex;
  justify-content: space-between;
}

.two-btn-box button {
  width: 47%;
}

.loading {
  width: 25px;
  height: 25px;
}

input[type=text] {
  width: 100%;
  margin: 7px auto;
  border: none;
  background-color: rgb(0, 8, 11);
  font-family: Inter;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

input[type=text]::placeholder {
  color: gray;
}

button {
  width: 100%;
  margin: 5px auto;
  border: none;
  background-color: rgb(4, 113, 166);
  font-family: Inter;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: 0.2s;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(240, 120, 70);
  /* margin-top: 5px; */
  transform: translate(0, -3px);
}