:root {
  --font-main: DM Sans, Inter, -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-logo: DM Sans;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(4, 113, 166);
  /* background-color: rgb(88, 209, 251); */
  /* background-image: linear-gradient(rgb(4, 113, 166), rgb(0, 30, 44)); */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--font-main);
  /* font-family: Roboto Mono; */
  line-height: 1.5;
  color: white;

}

body * {
  box-sizing: border-box;
}


h2 {
  font-size: 5em;
  margin-bottom: 25px;
}

h3 {
  font-size: 2.5em;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.75;
  /* color: #ccd; */
}

button {
  transition: .5s ease;
  position: relative;
  top: 0;

  width: fit-content;
  height: 50px;
  padding: 0 15px;
  margin-left: 50px;
  border-radius: 10px;
  color: white;
  font-family: var(--font-main);
  font-size: 1.3em;
  font-weight: bold;
  transition: 0.1s;
}
button:hover {
  cursor: pointer;
  top: -3px;
}


@media only screen and (max-width: 800px) {

  h2 {
      font-size: 3.4em;
  }
  h3 {
      font-size: 2em;
  }
}